<!--View to add new participan to the database-->
@{
    ViewBag.Title = "New Participant";
}

<h2>New Participant</h2>

<form method="post" action="Participant/AddParticipant">
    <label for=" name">Name</label><input type="text" id="name" name="name" />
    <input type="submit" value="Add" name="Add" />
</form>