@model BigWinBigHelp.Models.TicketDto
@{
    ViewBag.Title = "Delete Confirm";
}

<h2>Are you sure you want to delete this lottery</h2>
<a href="Ticket/ListTickets">Cancel</a>
<h2>@Model.id</h2>
<form action="Ticket/DeleteTicket" method="post">
    <input type="submit" value="Delete Ticket" />
</form>

